body{
    text-align: center;
    background-color: rgb(24, 23, 23);
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(./images/quiz3.jpeg);
    background-size: cover;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
#btn{
    width: 100px;
    height: 30px;
    background-color: rgba(2, 22, 49, 0.705);
    border-radius: 5px;
    border: none;
}
li{
    list-style: none;
}
.opt{
    width: 13%;
    height: 35px;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}

#opt{
    width: 13%;
    height: 35px;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}

#submit_btn{
    padding: 5px;
    width: 60px;
    margin: 0px 0px 0px 276px;
    border: none;
    border-radius: 5px;

}

#sub_bar{
    /* border: 2px solid black; */
    /* text-align: left; */
    width: 30%;
    /* justify-content: center; */
    text-align: center;
}

select{
    background-color: rgba(2, 22, 49, 0.705);
    color: white;
    width: 50%;
}

#btn:hover{
    background-color: rgb(122, 183, 252);
    color: white;
    
}
#Question_bar{
    display: none;
    /* justify-items: center; */
}
/* a:hover {
    color: hotpink;
} */

/* label{} */
#show_quest{
    /* width: 50%; */
    font-size: large;
    display: grid;
    grid-template-columns: 30% 30%;
    column-gap: 2%;
    justify-content: center;
    text-align: left;
    /* background-color: beige; */
    /* border: 2px solid black; */
    /* background-color: aqua; */
}

/* responsive part */
@media only screen and (max-width: 375px) {
    #show_quest {
        grid-template-columns: 50% 50%;
        column-gap: 3%;
        justify-content: center;
    }

    body {
        /* background-size: cover; */
        height: 800px;
        background-position: center;
        background-repeat: no-repeat;
    }

    .opt{
        width: 30%;
        height: 35px;
    }

  }

  


